---
---

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        {% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if site.description %}
    <meta name="description" content="{{ site.description }}">
    {% endif %}
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/zine.css" | relative_url }}">

</head>

<body>
    <header>
        <a href="{{ "/" | relative_url }}">
            <h1>{{ site.title }}</h1>
        </a>
    
        <nav>
            <nav>
                <a href="{{ "/" | relative_url }}">Home</a>
                <a href="{{ "/articles/" | relative_url }}">Articles</a>
                <a href="{{ "/posters/" | relative_url }}">Posters</a>
                <a href="{{ "/references/" | relative_url }}">References</a>
                <a href="{{ "/contributors/" | relative_url }}">Contributors</a>
                <a href="{{ "/resources/" | relative_url }}">Resources</a>
                <!-- Invisible About link -->
                <a href="{{ '/about/' | relative_url }}" class="nav-invisible">About</a>
            </nav>

        </nav>
    </header>

    <main>
    <main>
        {% unless page.url == "/" %}
        <nav class="breadcrumbs">
            <a href="{{ "/" | relative_url }}">Home</a>
            {% assign url = page.url %}

            {% if url == "/articles/" %}
            <span> / Articles</span>

            {% elsif url contains "/articles/" %}
            <span>
                / <a href="{{ "/articles/" | relative_url }}">Articles</a>
                / {{ page.title }}
            </span>

            {% elsif url == "/references/" %}
            <span> / References</span>
            
            {% elsif url contains "/references/" %}
            <span>
                / <a href="{{ "/references/" | relative_url }}">References</a>
                / {{ page.title }}
            </span>

            {% elsif url == "/posters/" %}
            <span> / Posters</span>

            {% elsif url == "/resources/" %}
            <span> / Resources</span>

            {% elsif url == "/resources/historical-posters/" %}
            <span>
                / <a href="{{ "/resources/" | relative_url }}">Resources</a>
                / Historical Posters
            </span>

            {% elsif url contains "/resources/historical-posters/" %}
            <span>
                / <a href="{{ "/resources/" | relative_url }}">Resources</a>
                / <a href="{{ "/resources/historical-posters/" | relative_url }}">Historical Posters</a>
                / {{ page.title }}
            </span>

            {% elsif url == "/resources/online-repositories/" %}
            <span>
                / <a href="{{ "/resources/" | relative_url }}">Resources</a>
                / Online Repositories
            </span>

            {% elsif url contains "/resources/online-repositories/" %}
            <span>
                / <a href="{{ "/resources/" | relative_url }}">Resources</a>
                / <a href="{{ "/resources/online-repositories/" | relative_url }}">Online Repositories</a>
                / {{ page.title }}
            </span>

            {% elsif url contains "/resources/" %}
            <span>
                / <a href="{{ "/resources/" | relative_url }}">Resources</a>
                / {{ page.title }}
            </span>

            {% elsif url == "/resources/historical-posters/" %}
            <span> / Historical Posters</span>

            {% elsif url contains "/resources/historical-posters" %}
            <span>
                / <a href="{{ " /resources/" | relative_url }}">Resources</a>
                / {{ page.title }}
            </span>
            <span>
                / <a href="{{ " /resources/historical-posters" | relative_url }}">Historical Posters</a>
                / {{ page.title }}
            </span>

            {% elsif url == "/resources/online-repositories/" %}
            <span> / Online Repositories</span>

            {% elsif url contains "/posters/" %}
            <span>
                / <a href="{{ "/posters/" | relative_url }}">Posters</a>
                / {{ page.title }}
            </span>

            {% elsif url == "/contributors/" %}
            <span> / Contributors</span>

            {% elsif url contains "/contributors/" %}
            <span>
                / <a href="{{ "/contributors/" | relative_url }}">Contributors</a>
                / {{ page.title }}
            </span>


            {% elsif url == "/resources/" %}
            <span> / Resources</span>
            {% endif %}
        </nav>
        {% endunless %}

        {{ content }}
    </main>

    <footer>
        <p class="tagline">The club is warmer than ever.</p>
    </footer>
</body>

</html>